.charts-page {
    background-color: #e1ade10d;
    margin: 10vh 3vw;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10vh;

    article {
        max-width: 640px;
        border: 2px solid black;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            background-color: $clr1;
            color: white;
            padding: 5px 10px;
            margin-top: 0;
            font-size: 3vw;
            border-bottom: 2px solid black;
        }

        svg,
        p {
            padding: 5px 10px;

        }
    }
}