.charts-page {
    flex-direction: column;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    gap: 10px;

    h1 {
        margin-top: 0;
        font-size: 3em;
        margin-bottom: 8%;
    }

    .charts-container {
        width: 90%;
        gap: 10px;
        display: flex;
        justify-content: space-between;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        svg,
        p {
            padding: 5px 10px;

        }
    }
}