.search-bar {

    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
    width: fit-content;
    height: fit-content;

    input {
        background-color: rgba(255, 255, 255, 0.699);
        width: 50vw;
        height: 4vh;
        border-radius: 8px;
    }

    button {
        cursor: pointer;
        background-color: rgb(229, 83, 83);
        border-radius: 50%;
        aspect-ratio: 1/1;
        height: 4vh;
        color: white;
        position: absolute;
        bottom: 1.3vh;
        right: -1.8vh;
        transition: 0.4s;

        &:hover {
            transform: rotate(360deg);
        }
    }
}