.header-cmp {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    top: 0;
    color: #4b4a4a;
    font-family: berlinSans;
    font-weight: bold;
    padding: 20px 30px 20px 20px;
    background-color: #fff;
    outline: 1px solid rgba(0, 0, 0, .1607843137);
    border-bottom-right-radius: 25px;
    height: 29px;
    width: 131px;
    overflow: hidden;
    transition: height 0.3s;

    &:hover {
        cursor: pointer;
        height: 192px;

        .nav-icon {
            transform: rotate(180deg);
        }

        nav {
            left: 0;
        }
    }

    nav {
        z-index: 101;
        width: 191px;
        position: absolute;
        left: -100px;
        top: 50px;
        display: flex;
        padding-top: 0.8vh;
        flex-direction: column;
        gap: 0.8vh;
        transition: 0.2s;
    }

    .logo-cont {
        font-size: 21px;
        display: flex;
        gap: 10px;
    }

    .nav-link {
        margin: 0 20px;
        color: #3e3e41d5;
        text-decoration: none;
        padding: 15px 0;
        font-size: 18px;
        letter-spacing: 0.5px;
        transition: 0.15s;
        border-bottom: 1px solid rgba(29, 47, 161, .211);

        &:hover {
            color: $clr1;
        }

        &:last-of-type {
            border: 0;
            padding-bottom: 25px;
        }
    }

    .nav-icon {
        font-size: 16px;
        font-weight: normal;
        transition: .35s;
    }

}