.header-cmp {
    width: 141px;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-family: berlinSans;
    font-weight: bold;
    border-bottom-right-radius: 25px;
    background-color: #fff;
    padding: 20px 30px 20px 20px;
    outline: 1px solid rgba(0, 0, 0, .1607843137);
    overflow: hidden;
    transition: 0.35s;

    &:hover {
        cursor: pointer;

        .nav-icon {
            transform: rotate(180deg);
        }
    }

    nav {
        display: flex;
        margin-top: 0.8vh;
        flex-direction: column;
        gap: 0.8vh;
        transition: 0.35s;
    }

    .logo-cont {
        font-size: 21px;
        display: flex;
        gap: 10px;
    }

    .nav-link {
        color: black;
        text-decoration: none;
        padding: 15px 0;
        font-size: 18px;
        letter-spacing: 0.5px;
        transition: 0.1s;
        border-bottom: 1px solid rgba(29, 47, 161, .211);

        &:hover {
            color: $clr1;
        }

        &:last-of-type {
            border: 0;
            padding-bottom: 5px;
        }
    }

    .nav-icon {
        font-size: 16px;
        font-weight: normal;
        transition: .35s;
    }

}