.transfer-funds {
    margin-top: 5.5vh;

    input {
        margin-left: 2px;
        width: 40%;
        border: 0;
        padding: 0px 5px;
        border-radius: 7px;
    }

    button {
        cursor: pointer;
        margin-left: 10px;
        border-radius: 6px;
    }
}