.contact-edit {
    position: relative;
    overflow: hidden;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 420px;
    width: 85vw;
    margin: auto;
    margin-top: 14vh;
    border: 2px solid rgba(0, 0, 0, 0.585);
    border-radius: 10px;
    background-color: $clr2;

    h1 {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid $clr4;
        margin: 0;
        padding: 2vh 0;
        width: 100%;
        color: $clr4;
    }

    .edit-form-btns {
        width: fit-content;
        margin-top: 15px;
        margin-left: auto;
        margin-right: 5%;
        display: flex;
        gap: 10px;
    }

    button {
        font-family: BerlinSans;
        cursor: pointer;
        background-color: $clr2;
        color: $clr4;
        outline: 2px solid $clr4;
        border: 0;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 10px;
        transition: 0.3s;

        &:hover {
            background-color: rgba(95, 95, 95, 0.271);
        }
    }

    .edit-back-btn {
        position: absolute;
        top: 1.5vh;
        left: 18px;
    }

    form {
        flex-direction: column;
        display: flex;
        gap: 12px;
        padding: 18px;
        padding-top: 30px;
        width: 100%;

        div {
            margin: auto;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        label {
            width: 60px;
            color: $clr3;
            text-transform: capitalize;
        }

        input {
            font-size: 0.95em;
            font-family: BerlinSans;
            width: 40%;
            padding: 0 8px;
            border-radius: 10px;
            background-color: rgb(58, 62, 62);
            color: $clr2;
            border: 1px solid rgba(0, 0, 0, 0.552);
        }
    }
}