.add-contect-btn {
    position: fixed;
    background-color: blue;
    outline: 3px solid white;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
    bottom: 70px;
    right: 25px;
    transition: 0.5s;

    &:hover {
        transform: rotate(360deg);
    }
}
