.contact-details {
    width: 440px;
    margin: auto;
}

.contact-details-hero {
    position: relative;
    height: 75vh;
    width: 100%;
    margin: auto;
    margin-top: 2vh;
    outline: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.699);

    .details-name {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 2px solid black;
        text-align: center;
        background-color: $clr1;
        color: white;
        padding: 20px 3vw;
        margin: 0;
    }

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 8px 0;
        }
    }

    img {
        background-color: rgba(128, 255, 213, 0.897);
        outline: 2px solid rgb(0, 0, 0);
        margin-top: 20px;
        width: 65%;
        border-radius: 3%;
        margin: 5vh 0;
    }

    button,
    .details-edit-btn {
        all: unset;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: white;
        color: black;
        padding: 5px 10px;
        outline: 2px solid black;
        border-radius: 8px;
        transition: 0.5s;
    }

    .details-edit-btn {
        left: unset;
        right: 15px;
    }

}

.prev-next-btns {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    transition: 0.4s;

    a {
        text-decoration: none;
    }
}