.home-page-top {
    width: calc(10vw + 600px);
    display: flex;
    align-items: center;
    padding: 0 28px;
    margin: auto;
    margin-top: 15vh;
    gap: 10vw;

    p {
        &:nth-of-type(2) {
            margin-top: 5px;
            margin-bottom: 8px;
        }

        margin: 0;
    }

    img {
        width: 345px;
    }

}

.home-page-center {
    position: relative;

    .hero {
        position: absolute;
        width: 32vw;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        top: 115%;
        left: 50%;
        background-color: transparent;
        transform: translate(-50%, -50%);
        color: #242446;
        text-align: center;

        img {
            width: 32vw;
        }
    }

    .wave-img {
        margin-bottom: -5px;
        background-color: $clr2;
    }
}

.home-page-bottom {
    padding-top: 35vh;
    padding-bottom: 8vh;
    color: black;
    background-color: $clr2;

    .hero {
        margin: auto;
        padding-bottom: 18vh;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        gap: 10vw;
        width: calc(600px + 10vw);
    }

    img {
        width: 345px;
    }
}

.hero {
    letter-spacing: 0.8px;
    font-size: 12px;

    .greeting {
        text-transform: capitalize;
    }
}