.home-page-top {
    width: calc(10vw + 600px);
    display: flex;
    align-items: center;
    padding: 0 28px;
    margin: auto;
    margin-top: 10vh;
    gap: 10vw;

    img {
        width: 345px;
    }
}

.wave-img {
    margin-bottom: -5px;
    background-color: #f5f7ff;
}

.home-page-bottom {
    padding: 0 20vw 10vh 20vw;
    color: black;
    background-color: #f5f7ff;
}