$wide-breakpoint: 1080px;
$normal-breakpoint: 900px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 600px;

@media screen and (max-width:$wide-breakpoint) {}

@media screen and (max-width:$normal-breakpoint) {}

@media screen and (max-width:$tablet-breakpoint) {
    .home-page-center .hero img {
        width: 32vw;
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .home-page-center .hero img {
        width: 50vw;
    }
}